@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>



<address>
    <strong>Support:</strong>   <a href="mailto:nicklasdwessel@gmail.com">nicklasdwessel@gmail.com</a><br />
    <strong>Support:</strong>   <a href="mailto:hanemay123@gmail.com">hanemay123@gmail.com</a>
</address>